<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

    <test name="Integration Tests" verbose="2" preserve-order="true">
        <classes>
            <class name="com.vinaythetestingacademy.tests.sample.TestIntegrationSample">
                <methods>
                    <include name="testCreateBooking"/>
                    <include name="testVerifyBookingId"/>
                    <include name="testUpdateBookingByID"/>
                    <include name="testDeleteBookingById"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>